@import './styles/artists';
@import './styles/nav';
@import './styles/buttons';
@import './styles/home';
@import './styles/base';

// $heading-font: 'DM Serif Display', serif;
// $body-font: 'DM Sans', sans-serif;

body {
	margin: 0;
	//font-family: 'DM Serif Display', serif;
	@include body-font;
	background-color: $primary-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
