//colors
$primary-color: #fff;
$secondary-color: #303179;
$tertiary-color: #000;
$quinary-color: #8265a7;

//fonts
@mixin heading-font() {
	font-family: 'Kufam', 'sans-serif';
	font-weight: 700;
	text-transform: uppercase;
}

@mixin body-font() {
	font-family: 'Kufam', 'sans-serif';
	font-weight: 400;
}
