@import './base';

.btn {
	&__primary {
		@include heading-font;
		background-color: $tertiary-color;
		color: $primary-color;
		border: none;
		padding: 0.25em 1.2em;
		//width: 8em;
		font-size: 1.25em;
		&:hover {
			background-color: $primary-color;
			color: $tertiary-color;
			border: 0.1em solid $tertiary-color;
			cursor: pointer;
		}
	}
}
