@import './base';

.nav {
	@include heading-font;
	display: flex;
	justify-content: right;
	font-size: 1.25em;
	background: $primary-color;

	&__tabs {
		padding-top: 5vh;
		padding-right: 10vw;
	}

	&__link {
		text-decoration: none;
		color: $tertiary-color;
		padding-right: 2em;

		&:hover {
			font-size: 1.1em;
		}
	}
}
